# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.env
*.env

# Flask
instance/
*.db
*.sqlite3

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
build/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

backend/jobmatchstudent-firebase-adminsdk-fbsvc-b89d7054b1.json
